{% extends 'web/base.html' %}
{% load static %}
{% load web_templatetag %}


{% block content %}

<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
        </div>
        {% for instance in instances %}
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                  src="{{instance.product.image.url}}"
                  class="img-fluid rounded-3" alt="{{instance.product.name}}">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{instance.product.name}}</p>
                <p><span class="text-muted">Brand: </span>{{instance.product.brand.name}}</p>
                <p><span class="text-muted">Color: </span>{{instance.product.starp_color}}</p>
              </div>
              {% get_have_stock instance.product.pk as have_stock %}
              {% if have_stock %}
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <a href="{% url 'web:decrement_cart' pk=instance.pk %}" class="btn btn-link px-2"><i class="fa fa-minus"></i></a>
                <input id="form1 number{{instance.pk}}" min="0" name="quantity" value="{{instance.qty}}" type="number" class="form-control form-control-sm" disabled/>
                <a href="{% url 'web:increment_cart' pk=instance.pk %}" class="btn btn-link px-2"><i class="fa fa-plus"></i></a>
              </div>
              {% else %}
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <p style="color:red">Out of Stock</p>
              </div>
              {% endif %}



              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">₹{{instance.unit_price}}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a data-id="{{ instance.pk }}" class="action-button remove redirect text-danger" href="{% url 'web:remove_from_cart' pk=instance.pk %}" data-text="{{ confirm_delete_message }}" data-title="Are you sure?"><i class="fa fa-trash fa-lg"></i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        <div class="card">
          <div class="card-body">
            <a href="{% url 'web:add_address' %}"><button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock content %}